<div class="row">
    <div class="col-5 col-sm-3">
        <p>やること</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.task|default_if_none:"未入力"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>内容</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.content|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>いつから</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.start|date:"Y年m月d日 G時i分s秒"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>いつまでに</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.end|date:"Y年m月d日 G時i分s秒" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>タスクの重要度</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.get_sample_9_display|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>誰のタスクか</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.sample_10.get_full_name|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>作成者</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>作成時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>更新者</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>更新時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
